/*About Me/Main page style*/

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #121212;
    color: beige;

}

.background-top {

    height: 15rem;
    width: 100%;
    border: beige solid 2px;

}

.background-top img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: relative;

}

.navbar {
    top: 0;
    z-index: 100;
    height: 3rem;
}


.navbar ul {
    list-style: none;
    display: flex;
    justify-content: left ;
    margin: 0;
    padding: 0;
}

.navbar li {
    text-align: center;
    padding: 1rem;


}

.navbar ul li a:hover {
    background-color: #222;
    border: 2px solid beige;
    border-radius: 4px;
}

.navbar ul li a:visited {
    color: beige;
}

.main-body {

    padding: 2 rem;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px beige;
    margin: 5rem 20rem auto;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*Style for travel page*/

.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 10px; 
    padding: 10px;
    margin-top: 5rem;
}

.img-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-size: cover;
    margin: 5px;

}

.img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-item h3 {
    margin: 10px 0;
    position: absolute;
    top: 0;
    left: 1rem;
    color: black;
}

.img-item p {
    position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      width: 100%;
      text-align: center;
      padding: 5px;
      font-size: 14px;
    border: beige solid 2px;
    
}

.background-top-travel {

    height: 15rem;
    width: 100%;
    border: beige solid 2px;

}

.background-top-travel img {
    object-fit: cover;
    height: 15rem;
    width: 100%;
    position: relative;

}

.picture-description {
    border: beige solid 2px;
    
}

/*css for projects page*/

.ad-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    grid-auto-rows: minmax(100px, auto);
    width: 100vw;
}

.ad-one {
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: red;
    z-index: 1;
    
}
.ad-two {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
    background-color: blue;
    
    
  }
  .ad-three {
    grid-column: 1;
    grid-row: 1 / 8;
    background-color: white;
  }
  .ad-four {
    grid-column: 3;
    grid-row: 3;
    background-color: yellow;
  }
  .ad-five {
    grid-column: 2;
    grid-row: 4;
    background-color: green
  }
  .ad-six {
    grid-column: 3;
    grid-row: 4;
    background-color: aqua;
  }

  #content {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    margin: auto 0;
    
    
  }

  #gif {
    
  }