/*About Me/Main page style*/

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #121212;
    color: beige;

}

.background-top {
    
    height: 15rem;
    width: 100%;
    border: beige solid 2px;
    
}

.background-top img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: relative;
    
}

.navbar {
    
    top: 0;
    
    z-index: 100;
    height: 3rem;
}


.navbar ul {
    list-style: none;
    display: flex;
    justify-content: left ;
    margin: 0;
    padding: 0;
}

.navbar li {
    text-align: center;
    padding: 1rem;
    
    
}

.navbar ul li a:hover {
    background-color: #222;
    border: 2px solid beige;
    border-radius: 4px;
}

.navbar ul li a:visited {
    color: beige; 
}

.main-body {
    
    padding: 2 rem;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px beige;
    margin: 5rem 20rem auto;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*Style for travel page*/

.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    display: flex;
    
}

.img-item {
    flex: 1 1 301px;
    flex-direction: column;
    overflow: hidden;
    margin: 0 0 40px;
    padding: 0 20px 40px;
    min-height: 220px;
    border-bottom: 1px solid #eaeff1;
    border-bottom-color: rgb(234, 239, 241);
    background-size: cover;
    
}

.img-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.img-item h3 {
    margin: 10px 0;
}

.img-item p {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 14px;
}